.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 639px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u313-6
{
	z-index: 2;
	position: relative;
	width: 382px;
	margin-right: -10000px;
	margin-top: -9px;
	left: -156px;
}

#u314-4
{
	z-index: 8;
	position: relative;
	width: 177px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 752px;
}

#u315-4
{
	z-index: 12;
	position: relative;
	width: 177px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 867px;
}

#u316-5
{
	z-index: 16;
	position: relative;
	width: 177px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 941px;
}

#u317-5
{
	z-index: 21;
	position: relative;
	width: 177px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1025px;
}

#u313-6_img,#u314-4_img,#u315-4_img,#u316-5_img,#u317-5_img
{
	display: block;
	vertical-align: top;
}

#u328
{
	z-index: 26;
	width: 484px;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u328_img
{
	padding-bottom: 1px;
}

#u334-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 324px;
	left: 513px;
}

#u335-4
{
	z-index: 32;
	width: 473px;
	min-height: 274px;
	position: relative;
	margin-right: -10000px;
	margin-top: 428px;
	left: 353px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

